
 #profileImage{
    
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #7d59d3;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 4px;
  padding-left: 8px;
  margin-right: 8px;
} 

textarea:focus {
  border: 2px solid ;
  border-radius: 8px;
  outline: none; 
  padding: 5px;
}